/* All Filters */
	
.filter-list > li {
	margin-right: 40px;
}

.filter-list li {
	display: inline-block;
}

.filter-btn {
	border: 1px solid gray;
	padding: 5px 10px;
	display: inline-block;
	cursor: pointer;
}


/* Rating Btn */

.rating-btn {
	padding: 8px 15px;
	border-radius: 5px;
}

.space-lg {
	margin-right: 6px;
}


/* Price Filters */

.price-filters {
	padding: 0;
}

.price-filters li {
	padding: 8px 10px;
}

.price-selected {
	background-color: gray;
}

.price-filters .first {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.price-filters .last {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Distance Btn */
.distance-btn {
	border-radius: 5px;
	padding: 8px 20px;
}
