.food-type-list-container {
	max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.food-types {
	display: flex;
	justify-content: space-between;
}

.food-types li {
	width: 115px;
	height: 58px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8px;
    border-radius: 5px;
}