@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa');*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin-bottom: 300px;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Comfortaa';*/
}

ul {
	list-style-type: none;
}

img {
	height: 120px;
	width: 120px;
}

.food-types li {
	padding: 10px 0;
	margin: 10px 0;
	width: 100px;
	height: 30px;
	text-align: center;
	border: 1px solid #DDDDDD;
	cursor: pointer;
}

.food-type.selected {
	background-color: #A5A5A5;
}

.biz {
	margin-bottom: 20px;
}

.biz img {
	display: inline-block;
}

.biz-main-info {
	display: inline-block;
	margin-left: 25px;
}

.img-box {
	display: inline-block;
}

.distance-traits {
	display: inline-block;
	margin-left: 300px;
}