@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body, #root, #root > div {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin-bottom: 300px;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	color: #555555;
}

.body-wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
	top: 2%;
}

@media only screen and (min-width: 320px) {
	.body-wrapper {
		width: 90%;
	}

	h2 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 320px) {
	.body-wrapper {
		width: 90%;
	}

	h2 {
		font-size: 30px;
	}
}

body, button[type='button'], button[type='submit'], input {
	font-family: 'Nunito', sans-serif;
}

button[type='button'], button[type='submit'] {
	margin: 0 auto;
	background-color: #FF3700;
	color: white;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #14CC2D;
}

ul {
	list-style-type: none;
}

form {
	max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

img {
	height: 120px;
	width: 120px;
}

.food-types li {
	padding: 10px 0;
	margin: 10px 0;
	width: 100px;
	height: 30px;
	text-align: center;
	border: 1px solid #DDDDDD;
	cursor: pointer;
}

.food-type.selected {
	background-color: #A5A5A5;
}

