@import url('https://fonts.googleapis.com/css?family=Nunito');
/*@import url('https://fonts.googleapis.com/css?family=Comfortaa');*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin-bottom: 300px;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	color: #555555;
	/*font-family: 'Comfortaa';*/
}

.body-wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

body, button[type='button'], button[type='submit'], input {
	font-family: 'Nunito', sans-serif;
}

button[type='button'], button[type='submit'] {
	margin: 0 auto;
	background-color: #FF3700;
	color: white;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	padding: 10px 20px;
	margin-bottom: 15px;
	font-weight: bold;
}

.link {
	text-decoration: none;
	color: #14CC2D;
}

ul {
	list-style-type: none;
}

img {
	height: 120px;
	width: 120px;
}

.food-types li {
	padding: 10px 0;
	margin: 10px 0;
	width: 100px;
	height: 30px;
	text-align: center;
	border: 1px solid #DDDDDD;
	cursor: pointer;
}

.food-type.selected {
	background-color: #A5A5A5;
}

.biz {
	margin-bottom: 20px;
}

.biz img {
	display: inline-block;
}

.biz-main-info {
	display: inline-block;
	margin-left: 25px;
}

.img-box {
	display: inline-block;
}

.distance-traits {
	display: inline-block;
	margin-left: 300px;
}