.login-link {
	margin-right: 25px;
}

.account-links-container {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}

@media only screen and (min-width: 320px)  {
	.account-links-container {
		top: 400px;
	}

	.account-links-container a {
		font-size: 20px;
	}
}

@media only screen and (min-width: 641px)  {
	.account-links-container {
		top: 220px;
	}

	.account-links-container a {
		font-size: 16px;
	}
}