nav {
	display: flex;
	width: 100%;
	background-color: #FFFFFF;
	justify-content: flex-end;
	border-bottom: 1px solid #CCCCCC;
	/*box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;*/
}

@media only screen and (min-width: 320px) {
	nav {
		height: 90px;
	}
}

@media only screen and (min-width: 641px) {
	nav {
		height: 70px;
	}
}

.user-container {
	display: flex;
	line-height: 1;
	justify-content: center;
	font: bold 16px 'Source Sans Pro', sans-serif;
}

.user-icon {
	align-self: center;
}

@media only screen and (min-width: 320px) {
	.user-container {
		height: 100%;
		width: 82px;
		margin-right: 7px;
	}

	.user-icon {
		height: 90%;
		width: auto;
		padding: 4px;
	}
}

@media only screen and (min-width: 641px) {
	.user-container {
		width: 75px;
	}

	.user-icon {
		width: 100%;
		height: 100%;
		padding: 5px;
	}
}

.menu-drop-down {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	padding: 0;
	margin: 0;
	top: 59px;
	right: 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s linear;
}

.user-container:hover ul {
	max-height: 200px;
	cursor: pointer;
	z-index: 1;
}

.menu-drop-down li {
	background-color: #313131;
	color: white;
	width: 100%;
	padding: 12px 0;
	text-align: center;
}

.menu-drop-down a {
	color: white;
	text-decoration: none;
}

.menu-drop-down li:nth-child(odd) {
	background-color: #363636;
}

.menu-drop-down li:hover {
	background-color: #444;
}

.menu-drop-down li:first-child {
	border-radius: 3px 3px 0 0;
	margin-top: 25px;
	position: relative;
}

.menu-drop-down li:first-child:before {
	content: '';
	position: absolute;
	width: 1px;
	height: 1px;
	border: 13px solid transparent;
	border-bottom-color: #313131;
	left: 84%;
	top: -26px;
}

.menu-drop-down li:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}