.spinner {
	height: 56px;
	width: 56px;
}

@media only screen and (min-width: 320px)  {
	.fade-container, .spinner-container {
		margin-top: 28%;
	}
}

@media only screen and (min-width: 641px)  {
	.fade-container, .spinner-container {
		margin-top: 4%;
	}
}

.spinner-container {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}

.fade-container {
	position: relative;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


