.spinner-container {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
}

.spinner {
	height: 45px;
	width: 45px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-container {
	position: relative;
}
