body {
  box-sizing: border-box;
  margin-bottom: 300px;
  padding: 0;
  font-family: sans-serif;
}

ul {
	list-style-type: none;
}

img {
	height: 120px;
	width: 120px;
}

.food-types li {
	padding: 10px 0;
	margin: 10px 0;
	width: 100px;
	height: 30px;
	text-align: center;
	border: 1px solid #ddd;
	cursor: pointer;
}

.food-type.selected {
	background-color: #a5a5a5;
}

.biz {
	margin-bottom: 20px;
}

.biz img {
	display: inline-block;
}

.biz-main-info {
	display: inline-block;
	margin-left: 25px;
}

.img-box {
	display: inline-block;
}

.distance-traits {
	display: inline-block;
	margin-left: 300px;
}

.sorting-list li {
	display: inline;
	padding: 8px 15px;
	margin: 0 5px;
	cursor: pointer;
}